<%- include("partials/_header") %>

    <body>

        <%- include("partials/_nav") %>

            <main class="container">
                <div class="d-flex flex-row flex-wrap">
                    <% if (bResponse && bResponse.Data) { %>
                        <% bResponse.Data.forEach(function(user){ %>
                            <div class="col-sm-3">
                                <div class="card text-center m-3 p-3">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= user.username %>
                                        </h5>
                                        <hr>
                                        <h6 class="card-title">
                                            Name: <%= user.name %>
                                        </h6>
                                        <h6>
                                            Email: <%= user.email %>
                                        </h6>
                                        <a href="#" class="btn btn-primary">Go</a>

                                    </div>
                                </div>
                            </div>
                            <% }); %>
                                <% } %>
                </div>
            </main>

            <!-- The Modal -->
            <div class="modal" id="modalEdit">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Modal Heading</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Modal body..
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

    </body>

    <script>
        let fnDelete = (id) => {
            console.log(id)
        }
    </script>

    <%- include("partials/_footer") %>