<%- include("partials/_header") %>

    <body>

        <%- include("partials/_nav") %>

            <% if(bResponse && bResponse.Data){ %>
                <main class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center border rounded-2"
                        style=" width: 50rem; min-height: 10rem;">
                        <div class="d-inline-flex" style="position:fixed; top:36px; width:100px; height: 100px;">
                            <img src="/images/avatar.png" class="rounded-circle" />
                        </div>
                        <div class="text-center mt-5">
                            <h6>
                                <b>User Name:</b>
                                <%= bResponse.Data.username %>
                            </h6>
                            <h6>
                                <b>Name:</b>
                                <%= bResponse.Data.name%>
                            </h6>
                            <h6>
                                <b>Email:</b>
                                <%= bResponse.Data.email%>
                            </h6>
                            <h6> <b>Create Date:</b>
                                <%= bResponse.Data.createdAt%>
                            </h6>
                            <h6> <b>Update Date:</b>
                                <%= bResponse.Data.updatedAt%>
                            </h6>
                        </div>
                    </div>
                </main>
                <% } %>

    </body>
    <%- include("partials/_footer") %>