<%- include("partials/_header") %>

    <body>

        <%- include("partials/_nav") %>

            <main class="container">
                <div class="d-flex flex-row flex-wrap">
                    <% if (bResponse && bResponse.Data) { %>
                        <% bResponse.Data.forEach(function(user){ %>
                            <div class="col-m-3">
                                <div class="card text-center m-3 p-3">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= user.username %>
                                        </h5>
                                        <hr>
                                        <h6 class="card-title">
                                            Name: <%= user.name %>
                                        </h6>
                                        <h6>
                                            Email: <%= user.email %>
                                        </h6>
                                        <hr>

                                        <a class="btn btn-primary" href="/user/<%= user._id%>"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-forward-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="m9.77 12.11 4.012-2.953a.647.647 0 0 0 0-1.114L9.771 5.09a.644.644 0 0 0-.971.557V6.65H2v3.9h6.8v1.003c0 .505.545.808.97.557z" />
                                            </svg></a>
                                        <button class="btn btn-info"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                height="16" fill="currentColor" class="bi bi-forward-fill"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="m9.77 12.11 4.012-2.953a.647.647 0 0 0 0-1.114L9.771 5.09a.644.644 0 0 0-.971.557V6.65H2v3.9h6.8v1.003c0 .505.545.808.97.557z" />
                                            </svg></button>

                                    </div>
                                </div>
                            </div>
                            <% }); %>
                                <% } %>
                </div>
            </main>

            <!-- The Modal -->
            <div class="modal" id="modalEdit">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Modal Heading</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Modal body..
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

    </body>

    <script>
        let fnDelete = (id) => {
            console.log(id)
        }
    </script>

    <%- include("partials/_footer") %>